<div class="page-wrapper">
  <section class="budgets-list-section">
    <h2>Pressupostos en curs:</h2>
    @for (b of budgetHistory(); track b.id) {
    <div class="budget-list-box">
      <ul class="cart-list">
        <li>
          <h2>{{ b.name }}</h2>
          <p>{{ b.email }}</p>
          <p>{{ b.phone }}</p>
        </li>
        <li>
          <strong>Serveis contractats:</strong>
          <ul class="web-list">
            @if (b.services.web) {
            <li>
              Web ({{ b.services.web.pages }} pàgines,
              {{ b.services.web.languages }} llenguatges)
            </li>
            } @if (b.services.seo) {
            <li>SEO</li>
            } @if (b.services.ads) {
            <li>Publicitat</li>
            }
          </ul>
        </li>
        <li>
          <strong>Total:</strong>
          <p>{{ b.budget }}</p>
        </li>
      </ul>
    </div>
    } @empty {
    <p>No hi ha pressupostos encara</p>
    }
  </section>
</div>
