.budget-list-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

  @media (min-width: 768px) {
    grid-template-columns: 2fr 2fr 1fr;
    align-items: start;
    padding: 2rem;
  }
}

.cart-list {
  display: contents;
}

.user-name {
  font-size: 1.4rem;

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.user-info {
  font-weight: 600;
  font-size: 1rem;
  color: darkgray;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
}

.user-total-budget {
  font-size: 1.5rem;
  font-weight: 900;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.user-total-sapn {
  font-size: 1rem;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.web-list {
  padding-left: 1rem;
  list-style: disc;
}

.ditails-btn {
  grid-column: 2;
  justify-self: start;
  background-color: rgb(162, 129, 240);
  color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgb(130, 100, 230);
  }
}
