<form class="panel-form" [formGroup]="webForm">
  <div class="panel-wrapper">
    <div>
      <p>
        <span class="info" (click)="openModal()">ⓘ</span> Nombre de pagines:
      </p>
    </div>
    <div class="btns-box">
      <button class="panel-btn decrease" (click)="decrement('pages')">⊖</button>
      <input class="quantity" type="text" formControlName="pages" />
      <button class="panel-btn increase" (click)="increment('pages')">⊕</button>
    </div>
  </div>

  <div class="panel-wrapper">
    <div>
      <p>
        <span class="info" (click)="openModal()">ⓘ</span> Nombre de llenguatges:
      </p>
    </div>
    <div class="btns-box">
      <button class="panel-btn decrease" (click)="decrement('languages')">
        ⊖
      </button>
      <input class="quantity" type="text" formControlName="languages" />
      <button class="panel-btn increase" (click)="increment('languages')">
        ⊕
      </button>
    </div>
  </div>
</form>
